<?xml version="1.0" encoding="utf-8"?>
<Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<Debug>true</Debug>
	<DebugLogFile>debug.log</DebugLogFile>
	<LogFolder>Log</LogFolder>
	<ClientLogFolder>Clientpackets</ClientLogFolder>
	<ServerLogFolder>Serverpackets</ServerLogFolder>
	<RequiredClientVersion>061004_netver:7594; didver:926CD8E3-2984-4CA9-9C6B-6DF2C8EB6BC3</RequiredClientVersion>
	<ServerName>[DE] Duesterwald</ServerName>
	<ServerId>241</ServerId>
	<ServerPort>9000</ServerPort>
	<MaxClients>10</MaxClients>
	<WorldServerIP>127.0.0.1</WorldServerIP>
	<WorldServerPort>9001</WorldServerPort>
	<AccountFolder>Accounts</AccountFolder>
</Config>